.Title {
  position: relative;
  font-size: 2.5rem;
  z-index: 1;
}

.Title::before {
    position: absolute;
    content: '';
    border-bottom: 16px solid #ff4d5a;
    width: 9rem;
    left: 4rem;
    top: 2rem;
    z-index: -1;
}

.presentationSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.childPicture {
    height: 15em;
    border-radius: 50%;
    margin-bottom: 2em;
}

.firstScript, .secondDescription {
    text-align: center;
    margin: 1em 2em 2em 2em;
}

.iconeSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.2em;
}

.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background: #fff; 
    z-index: 1;
    overflow: hidden; 
  }
  
  .skillItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px; 
    padding: 5px; 
    background: linear-gradient(
      90deg,
      rgb(252, 70, 107),
      rgb(252, 70, 107),
      rgb(37, 207, 187),
      rgb(37, 207, 187),
      rgb(37, 207, 187),
      rgb(37, 207, 187),
      rgb(167, 179, 230)
    );
    z-index: -1; 
  }
  
  .skillItem::after {
    content: '';
    position: absolute;
    top: 5px; 
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 10px; 
    background: #fff;
    z-index: -1; 
  }
  
  .skillItem img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  
  .skillDescription {
    font-size: 1em;
    font-style: italic;
  }
@media screen and (min-width: 992px) {
    .presentationSection {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .childPicture, .firstScript, .secondDescription, .iconeSection {
        
        object-fit: contain;
        gap: 10px;
        padding: 20px;
        margin: 20px 30px 20px 30px;
        font-size: 1.5em;
        
    }
    .iconeSection {
        width: 60%;
    }
    .secondDescription {
        width: 40%;
    }

    .portfolioSection {
        display: flex;
        flex-direction: row-reverse;
    }
}