.Title {
    position: relative;
    font-size: 2.5rem;
    z-index: 1;
    margin-left: 1em;
}

.Title::before {
    position: absolute;
    content: '';
    border-bottom: 16px solid #ff4d5a;
    width: 12rem;
    left: 2rem;
    top: 2rem;
    z-index: -1;
}

.welcomeTitle {
    margin: 1em 2em;
    font-size: 2.5em;
  }
  