.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 70vh;
    margin-bottom: 5em;
  }
  
  .sliderLeft, .sliderRight {
    position: absolute;
    top: 0;
    width: 100%;
    transition: clip-path 0.2s ease-in-out;
  }
  
  .sliderLeft {
    left: 0;
    z-index: 2;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  
  .sliderRight {
    right: 0;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .sliderTextLeft {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-170%) translateY(-50%) ;
    font-size: 2.5rem;
    color: #a5a3a3;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
  }

  .sliderTextRight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(70%) translateY(-50%) ;
    font-size: 2.5rem;
    color: #a5a3a3;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
  }

  .sliderTextLeft:hover, .sliderTextRight:hover {
color: #ff4d5a;
cursor: pointer;
  }

  @media (max-width: 992px) {
    .sliderContainer {
        height: 40vh;
    }

    .sliderTextLeft {
        transform: translateX(-160%) translateY(10%);
    }

    .sliderTextRight {
        transform: translateX(60%) translateY(10%);
    }

    .sliderTextLeft, .sliderTextRight {
        font-size: 1.2rem; 
    }
}
@media screen and (max-width: 610px) {
  .sliderContainer {
      height: 40vh;
  }

  .sliderTextLeft {
      transform: translateX(-110%) translateY(-10%);
  }

  .sliderTextRight {
      transform: translateX(10%) translateY(-10%);
  }

  .sliderTextLeft, .sliderTextRight {
      font-size: 1.2rem; 
  }
}
@media screen and (max-width: 490px) {
  .sliderContainer {
      height: 40vh;
  }

  .sliderTextLeft {
      transform: translateX(-110%) translateY(-50%);
  }

  .sliderTextRight {
      transform: translateX(10%) translateY(-50%);
  }

  .sliderTextLeft, .sliderTextRight {
      font-size: 1.2rem; 
  }
}
@media screen and (max-width: 410px) {
  .sliderContainer {
      height: 40vh;
  }

  .sliderTextLeft {
      transform: translateX(-110%) translateY(-100%);
  }

  .sliderTextRight {
      transform: translateX(10%) translateY(-100%);
  }

  .sliderTextLeft, .sliderTextRight {
      font-size: 1.2rem; 
  }
}
