.sliderContainer {
    position: relative;
    width: 100%;
    max-width: 90%;
    height: 50em;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    border: 2px solid #ddd;
  }
  
  .sliderLeft, .sliderRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: clip-path 0.2s ease-in-out;
  }
  
  .sliderLeft {
    left: 0;
    z-index: 2;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  
  .sliderRight {
    right: 0;
    z-index: 1;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .sliderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 3;
  }