.Title {
    position: relative;
    font-size: 2.5rem;
    z-index: 1;
    margin: 1em 0 2em 1em;
}

.Title::before {
    position: absolute;
    content: '';
    border-bottom: 16px solid #ff4d5a;
    width: 15rem;
    left: 1rem;
    top: 1.8rem;
    z-index: -1;
}
.contactSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactText {
    text-align: center;
    font-size: 1.2em;
    padding: 0 3em;
    margin-bottom: 2em;
}

.iconeContactSection {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-bottom: 8em;
}

.contactIcone {
    color: black;
    width: 5em;
    height: 5em;
    margin: 0 1em;
}

.contactIcone:hover {
    color: #a5a3a3;
}

@media  screen and (min-width: 425px) {
    .iconeContactSection {
        margin-bottom: 20em;
    }
}
@media  screen and (min-width: 992px) {
    .iconeContactSection {
        margin-bottom: 25em;
    }
    .contactText {
        margin-bottom: 4em;
    }
}