.contactSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.contactText {
    text-align: center;
    font-size: 1.2em;
    padding: 0 3em;
}
.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 2em;
}
.contactFormName, .contactFormEmail, .contactFormText {
    border-radius: 5px;
}
.contactFormText {
    height: 3em;
}
.contactFormSubmitSection {
    display: flex;
    justify-content: right;
}
.contactFormSubmit {
    width: 5em;
}

@media  screen and (min-width: 992px) {
    .contactFormSubmitSection {
        display: flex;
        justify-content: center;
    }
    .contactText {
        padding: 0 11em;
        font-size: 2em;
    }
    .contactFormName, .contactFormEmail, .contactFormText {
        width: 30em;
    }
}