@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto'; 
    src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
  }

  * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

